<div class="header">
  <div>
    <mat-button-toggle (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </mat-button-toggle>
  </div>
  <img src="../assets/BitPhy_logo.jpeg" alt="BitPhy_logo">
</div>

<div class="div1">
  <mat-sidenav-container style=" display:flex; flex: 1; margin: 0">
    <mat-sidenav #sideNav mode="side" class="sideNav">
      <a href="#" routerLink="/home"><p class="sideNavHeader">Dashboard</p></a>
      <hr/>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bitcoin
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLink="/analysis"><p>Analysis</p></a>
      </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content style="display: flex;flex: 1; flex-direction: column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

