<div class="currencyContainer">
  <div>
    <app-currency-card [currency]="USDCurrency" currencyName="USD" currencySymbol="$"></app-currency-card>
  </div>
  <div>
    <app-currency-card [currency]="GBPCurrency" currencyName="GBP" currencySymbol="£"></app-currency-card>
  </div>
  <div>
    <app-currency-card [currency]="EURCurrency" currencyName="EUR" currencySymbol="€"></app-currency-card>
  </div>
  <div>
    <app-currency-card [currency]="CNYCurrency" currencyName="CNY" currencySymbol="$"></app-currency-card>
  </div>

</div>

<app-graphic></app-graphic>
